# **DESCRIPTION**

This project consist in a forecasting of cost for different industrial supplies from a company

# **Project Develop**

## *Install Libraries*

In [ ]:
# !pip install pandas
# !pip install numpy
# !pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## *Import Libraries*

In [10]:
import pandas as pd
import numpy as np
import openpyxl

## *Import data*

Import data from an Excel file provided by the company

In [ ]:
df_purchases = pd.read_excel("COMPRAS.xlsx", index_col=0)

In [24]:
df_purchases.head(10)

,order_date,delivery_date,supplier_name,supply_reference,unit_value,quantity,total_cost
id,,,,,,,
5252,2013-05-16,2013-11-18,OFFICINE SANTAFEDE,"BWN 6""900RTJ ID142,88mm F44",1020.00,50.0,51000.0
5253,2013-05-16,2013-11-18,OFFICINE SANTAFEDE,FORGING ROUND F44,2560.00,25.0,64000.0
5589,2013-09-02,2013-09-04,Aceros y Equipos S.L.,"BRE 76,2MM HAST C276",44.50,1.6,71.2
5590,2013-09-03,2013-09-10,UTILES Y MAQUINAS INDUSTRIALES,"TP1R 0,5mm",420.60,3.0,1261.8
5591,2013-09-03,2013-09-10,UTILES Y MAQUINAS INDUSTRIALES,VAR 4.5X2X1.2X1000 A710,19.60,5.0,98.0
5592,2013-09-18,2013-10-21,OFFICINE SANTAFEDE,"TPI 4-1/16""X4""2500",5200.00,1.0,5200.0
5502,2013-09-20,2013-10-08,ThyssenKrupp Materials Ibérica,BRE 165 AISI-304L,2.55,112.0,285.6
5503,2013-09-20,2013-09-24,Aceros y Equipos S.L.,BRE 55 AISI-321,4.70,112.0,526.4
5504,2013-09-20,2013-09-27,"Empresa Santa Lucía, S.A.",BRE 35 A5,14.60,132.0,1927.2
5505,2013-09-20,2013-09-27,"Empresa Santa Lucía, S.A.",BRE 35 ALLOY400,27.50,91.0,2502.5

## *Data Resume*

In [23]:
df_purchases.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10775 entries, 5252 to 10818
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_date        10775 non-null  datetime64[ns]
 1   delivery_date     10420 non-null  datetime64[ns]
 2   supplier_name     10775 non-null  object
 3   supply_reference  10775 non-null  object
 4   unit_value        10775 non-null  float64
 5   quantity          10775 non-null  float64
 6   total_cost        10775 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(2)
memory usage: 931.5+ KB

In [20]:
df_purchases.describe()

,order_date,delivery_date,unit_value,quantity,total_cost
count,10775,10420,1.077500e+04,1.077500e+04,1.077500e+04
mean,2019-04-04 08:59:46.969837568,2019-02-21 04:31:00.115163136,1.934475e+04,1.707657e+10,3.927612e+11
min,2013-05-16 00:00:00,2012-11-30 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2016-10-03 12:00:00,2016-09-05 00:00:00,4.260000e+00,2.000000e+00,4.800000e+01
50%,2019-01-29 00:00:00,2018-11-12 00:00:00,1.950000e+01,6.000000e+00,1.996128e+02
75%,2022-01-07 00:00:00,2021-09-07 00:00:00,1.000000e+02,3.000000e+01,7.427000e+02
max,2024-12-16 00:00:00,2024-12-02 00:00:00,1.000000e+07,1.840000e+14,4.232000e+15
std,NaN,NaN,2.905807e+05,1.772594e+12,4.076965e+13

## *Data Engineering*

Columns that do not provide data of interest are eliminated.

In [15]:
df_purchases = df_purchases.drop(columns=["supplier_order_id","position_supply","supply_id","discount","pending",
                    "deliv_date_1","deliv_quant_1","deliv_note_1",
                    "deliv_date_2","deliv_quant_2","deliv_note_2",
                    "deliv_date_3","deliv_quant_3","deliv_note_3"])

,order_date,supplier_name,supply_reference,unit_value,delivery_date,quantity
id,,,,,,
5252,2013-05-16,OFFICINE SANTAFEDE,"BWN 6""900RTJ ID142,88mm F44",1020.0,2013-11-18,50.0
5253,2013-05-16,OFFICINE SANTAFEDE,FORGING ROUND F44,2560.0,2013-11-18,25.0
5589,2013-09-02,Aceros y Equipos S.L.,"BRE 76,2MM HAST C276",44.5,2013-09-04,1.6
5590,2013-09-03,UTILES Y MAQUINAS INDUSTRIALES,"TP1R 0,5mm",420.6,2013-09-10,3.0
5591,2013-09-03,UTILES Y MAQUINAS INDUSTRIALES,VAR 4.5X2X1.2X1000 A710,19.6,2013-09-10,5.0

Change the order of columns in dataframe

In [16]:
new_column_order = ["order_date", "delivery_date", "supplier_name", "supply_reference","unit_value","quantity"]
df_purchases = df_purchases[new_column_order]

,order_date,delivery_date,supplier_name,supply_reference,unit_value,quantity
id,,,,,,
5252,2013-05-16,2013-11-18,OFFICINE SANTAFEDE,"BWN 6""900RTJ ID142,88mm F44",1020.0,50.0
5253,2013-05-16,2013-11-18,OFFICINE SANTAFEDE,FORGING ROUND F44,2560.0,25.0
5589,2013-09-02,2013-09-04,Aceros y Equipos S.L.,"BRE 76,2MM HAST C276",44.5,1.6
5590,2013-09-03,2013-09-10,UTILES Y MAQUINAS INDUSTRIALES,"TP1R 0,5mm",420.6,3.0
5591,2013-09-03,2013-09-10,UTILES Y MAQUINAS INDUSTRIALES,VAR 4.5X2X1.2X1000 A710,19.6,5.0

Creation a new column for calculate the total cost of products

In [17]:
df_purchases["total_cost"] = df_purchases["unit_value"] * df_purchases["quantity"]

,order_date,delivery_date,supplier_name,supply_reference,unit_value,quantity,total_cost
id,,,,,,,
5252,2013-05-16,2013-11-18,OFFICINE SANTAFEDE,"BWN 6""900RTJ ID142,88mm F44",1020.0,50.0,51000.0
5253,2013-05-16,2013-11-18,OFFICINE SANTAFEDE,FORGING ROUND F44,2560.0,25.0,64000.0
5589,2013-09-02,2013-09-04,Aceros y Equipos S.L.,"BRE 76,2MM HAST C276",44.5,1.6,71.2
5590,2013-09-03,2013-09-10,UTILES Y MAQUINAS INDUSTRIALES,"TP1R 0,5mm",420.6,3.0,1261.8
5591,2013-09-03,2013-09-10,UTILES Y MAQUINAS INDUSTRIALES,VAR 4.5X2X1.2X1000 A710,19.6,5.0,98.0

In [18]:
df_purchases["order_date"] = pd.to_datetime(df_purchases["order_date"])
df_purchases["delivery_date"] = pd.to_datetime(df_purchases["delivery_date"])

df_purchases.head(5)

,order_date,delivery_date,supplier_name,supply_reference,unit_value,quantity,total_cost
id,,,,,,,
5252,2013-05-16,2013-11-18,OFFICINE SANTAFEDE,"BWN 6""900RTJ ID142,88mm F44",1020.0,50.0,51000.0
5253,2013-05-16,2013-11-18,OFFICINE SANTAFEDE,FORGING ROUND F44,2560.0,25.0,64000.0
5589,2013-09-02,2013-09-04,Aceros y Equipos S.L.,"BRE 76,2MM HAST C276",44.5,1.6,71.2
5590,2013-09-03,2013-09-10,UTILES Y MAQUINAS INDUSTRIALES,"TP1R 0,5mm",420.6,3.0,1261.8
5591,2013-09-03,2013-09-10,UTILES Y MAQUINAS INDUSTRIALES,VAR 4.5X2X1.2X1000 A710,19.6,5.0,98.0